body {
  background-image: url("/Users/ashutoshdubey/React/courses/src/components/images/wood-background-texture_124507-6931.jpg") !important;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.llink{
  text-decoration: none;
  color: black;
}
.list{
  border: 5px;
}

.login{
  height: 100% !important;
  /* background-color: aqua; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.course-list{
  height: 600px;
  overflow: auto;
}